<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
    <style>
        body { background: #D6D6D6; }
    </style>
</head>
<body class="container">
    <main>
        <div>
            <h1 style="text-align: center; padding-top: 10px; padding-bottom: 10px; background-color: #BE0000; width: 100%;">Dashboard</h1>
        </div>
        <div class="form-group">
            <a href="/trips" class="btn btn-lg btn-primary btn-block">Trips</a>
            <a href="/destinations" class="btn btn-lg btn-primary btn-block">Destinations</a>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>